doctype html
html(lang='is')
  head
    meta(charset='utf-8')
    title Ólafur Ingi Guðmundsson
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='dist/ferilskra.css')
    link(href='https://fonts.googleapis.com/css?family=Muli:200,400', rel='stylesheet')
  body
    .overlay
    #img-controls
      img#show-prev(src="images/prev-arrow.png", alt="Fyrri")
      img#show-next(src="images/next-arrow.png", alt="Næsta")
    .document-model
      header
        div
          h1 FERILSKRÁ
          p.subtitle Ólafs Inga Guðmundssonar
        img.portrait-pic(src='images/cv_eg.jpg', alt='pic-of-me')
      main
        section
          h2.section-opener MENNTUN
          .content
            ul
              li
                h3.subtitle BSc. í tölvunarfræði frá Háskóla Íslands
                p.period 08/2014 - 06/2017
                p
                  | Útskrifaðist 24. júní 2017. Meðaleinkunn var 8.7
              li
                h3.subtitle Stúdentspróf frá Fjölbrautarskólanum við Ármúla
                p.period -05/2011
                p Stúdent af náttúrufræðibraut
        section
          h2.section-opener STARFSREYNSLA
          .content
            ul
              li
                h3.subtitle Forritari hjá Þjóðskrá Íslands
                p.period 07/2017 - enn við störf
                p Ég hóf störf hjá Þjóðskrá aftur í júlí eftir útskrift sem sumarstarfsmaður en var svo boðið að taka þátt í stærra hugbúnaðarverkefni með áframhaldandi ráðningu í haust. 
                  | Ég er að vinna í því verkefni þessa dagana.
              li
                h3.subtitle Kerfisstjóri / Forritari hjá Þjóðskrá Íslands
                p.period 05/2016 - 01/2017
                p
                  | Ég vann sem sumarstarfsmaður hjá tölvudeild Þjóðskrár sumarið 2016 og hélt svo áfram sem starfsmaður í hlutastarfi með skóla. Starfið fólst í almennum kerfisstjórnarverkefnum ásamt forritunarverkefnum.
              li
                h3.subtitle Hlaðmaður hjá Flugfélagi Íslands
                p.period 06/2004 - 08/2015
                p
                  | Ég hóf störf hjá Flugfélagi Íslands sem sumarstarfsmaður í hlaðdeild. Ég vann hjá Flugfélaginu ýmist með skóla eða í fullu starfi fram í ágúst 2015.
        section.kunnatta
          h2.section-opener FORRITUNARKUNNÁTTA
          .content
            .flexible
              .category
                h3.subtitle Forritunar- og sambærileg mál
                ul
                  li.good C#
                  li.good Javascript (ES5, ES6)
                  li.good Typescript
                  li.good CSS
                  li.good SASS
                  li.good SQL
                  li.good Java
                  li.good Git
                  li.good Python
                  li.ok C
              .category
                h3.subtitle Þróunarumhverfi
                ul
                  li.good Visual Studio (2015, 2017)
                  li.good Node.js
                  li.good MS SQL Server 2016 Management Studio
                  li.ok Android Studio
                  li.ok Eclipse
              .category
                h3.subtitle Þróunarstjórnun
                ul
                  li.good Github
                  li.good TFS
              .category
                h3.subtitle Textalýsimál, sniðmát og tól því tengt
                ul
                  li.good HTML5
                  li.good JSON
                  li.good Pug
                  li.good Handlebars
                  li.ok XML
              .category
                h3.subtitle Prófun
                ul
                  li.ok Mocha
                  li.ok Jest
              .category
                h3.subtitle Gagnagrunnskerfi
                ul
                  li.good SQL-Server
                  li.good SQLite
                  li.good postgresql
                  li.ok MongoDB
              .category
                h3.subtitle Stærri forritasöfn & umgjarðir
                ul
                  li.good Express (Node.js)
                  li.good JQuery
                  li.good React
                  li.good Redux
                  li.good Entity Framework (.NET)
                  li.good Bootstrap
                  li.ok THREE.js
                  li.meh numPy
                  li.meh Backbone.js
              .category
                h3.subtitle Samskiptareglur, -mátar o.þ.u.l.
                ul
                  li.good HTTP
                  li.good REST
                  li.good AJAX
                  li.good OData
                  li.ok HTTPS
              .category
                h3.subtitle Aðstoðartól við þróun
                ul
                  li.good npm
                  li.good Webpack
                  li.good Babel
                  li.good Bower
                  li.meh Gulp
            .legend
              .flexible.legend-item
                .colored.green
                p Fín kunnátta
              .flexible.legend-item
                .colored.yellow
                p Þokkaleg kunnátta
              .flexible.legend-item
                .colored.orange
                p Nokkur kunnátta
        section
          h2.section-opener VERKEFNI / PORTFOLIO
          .content
            .flexible
              .verkefni
                h3.subtitle Vefuppfletti fyrir landskrá
                h4 Þjóðskrá Íslands, vefforrit
                p Vefþjónusta og vefsíða sem opin er út á við, sem býður upp á uppflettingu gagna í landskrá eftir landnúmeri, fastanúmeri og götuheiti til viðskiptavina gegn gjaldi.
                .more
                  | Meira 
                  div
                    span.arrow-near >
                    span.arrow-far >
                .more-content
                  p
                    | Þetta er teymis-verkefni þar sem við vinnum þrír saman að lausn. Kerfið er í smíðum þessa dagana og komið tiltölulega stutt á veg. Því er lítið hægt að segja frá um eiginleika kerfisins enn sem komið er en áætluð fyrsta útgáfa er um áramótin.
                    | Ég er að, og mun að mestu leyti vinna í framendanum og þeim hluta bakendans sem sér um að tala við vefþjónustuna se dælir út gögnunum.
                  h4 Tæknilegar upplýsingar
                  p
                    | Verkefnið er unnið í Visual Studio 2017 í ASP.NET Core 2.0. Framendinn er byggður á React&Redux sniðmátinu sem nýjasta útgáfa af Visual Studio býður upp á. Framendinn er þ.a.l. skrifaður í typescript með React og Redux sem sér um agögnin. Stíllinn verður útfærður með bootstrap 4 (ásamt custom css) og webpack notað fyrir build.
                    | Bakendi vefsíðunnar er skrifaður í C# og sama með vefþjónustuna. Að auki munum við setja upp og nota Identity Server 4 fyrir notendaauðkenningu sem verður svo nýtt einnig í fleiri verkefnum. Vefþjónustan sækir gögn upp úr nýjum Informix grunni og einnig Oracle grunni.
              .verkefni
                h3.subtitle Rafræn matsblöð
                h4 Þjóðskrá Íslands, vefforrit
                p
                  | Endurbætur á vefþjónustu og vefsíðu sem birtir og býður upp á meðhöndlun á gögnum sem tengjast rafrænum matsblöðum.
                div
                  p.screenshot-origin Skjámyndir
                  img.screenshot(src='images/doddi/hidden.png' alt='hér á að vera mynd' class='selected-img' id="doddi-first-img")
                  img.screenshot(src="images/doddi/preview.png", alt="hér á að vera mynd")
                  img.screenshot(src="images/doddi/zip.png", alt="hér á að vera mynd")
                  img.screenshot(src="images/doddi/datetime.png", alt="hér á að vera mynd")
                  img.screenshot(src="images/doddi/tenging.png", alt="hér á að vera mynd")
                  img.screenshot(src="images/doddi/hreyfingar.png", alt="hér á að vera mynd")
                  img.screenshot(src="images/doddi/minnismidi.png", alt="hér á að vera mynd")
                  img.screenshot(src="images/doddi/tengingar.png", alt="hér á að vera mynd")
                  
                .more
                  | Meira 
                  div
                    span.arrow-near >
                    span.arrow-far >
                .more-content
                  p
                    | Kerfið er notað til þess að geta meðhöndlað ýmis konar matsblöð sem tengjast tilteknum landnúmerum. Matsblöðin sjálf eru skönnuð inn í kerfið og geymd í grunni sem pdf skjöl. Leitað er eftir landnúmeri og þá fæst listi með öllum skjölum sem hafa tengingu við landnúmerið í grunninum. 
                    | Hægt er að skoða pdf skjölin beint á síðunni og meðhöndla ýmsa eiginleika tengda við skjölin, s.s. breyta tengingum við landnúmer, skrá minnismiða við tiltekin skjöl og sækja valin skjöl í zip skrá. Kerfið samanstendur m.a. af vefsíðu og vefþjónustu. Kerfið var upprunalega smíðað af fyrrverandi starfsmanni, og þurfti vefsíðan lagfæringu sem ég var settur í.
                    | Ákveðið var að ég myndi útbúa nýja vefsíðu og samræma vefþjónustuna við hana.
                  h4 Tæknilegar upplýsingar
                  p
                    | Vefsíðan er smíðuð í Visual Studio 2017 með ASP.NET MVC (.NET Framework 4.5). Bakendinn er nánast enginn, bara einn controller þar sem vefsíðan er í raun SPA og sækir öll gögn frá REST vefþjónustu.
                  p
                    | Framendinn er skrifaður í plain javascript og jQuery að einhverju leyti. Önnur libraries sem notuð eru: Handlebars.js fyrir templating, Bootstrap 3 fyrir stíl, dagsetningarveljara og modal glugga, Moment.js fyrir vinnu með dagsetningar og pdf.js til að sækja og birta pdf á canvas elementi.
                  p
                    | Vefþjónustan er skrifuð í C# og notar OData fyrir samskipti. Einungis skráðir Active Directory notendur geta sótt gögn frá vefþjónustunni, og hún notar CORS. Vefþjónustan talar við SQL-Server grunn með Entity Framework.
              .verkefni
                h3.subtitle Upplýsingaskjár í afgreiðslu Þjóðskrár Íslands
                h4 Þjóðskrá Íslands, vefforrit
                p
                  | Kerfi sem getur birt ýmsar upplýsingar, m.a. tölfræðiupplýsingar unnar beint úr þjóðskránni, á skjá í afgreiðslunni með slideshow virkni.
                div
                  p.screenshot-origin Skjámynd
                  img.screenshot(src='images/upplysingaskjar.png', alt='upplýsingaskjár screenshot')
                .more
                  | Meira 
                  div
                    span.arrow-near >
                    span.arrow-far >
                .more-content
                  p
                    | Hugmyndin var að veita viðskiptavinum skemmtilegar upplýsingar úr þjóðskrá ásamt ýmsum nytsamlegum leiðbeiningum á meðan þeir bíða eftir afgreiðslu.
                  p
                    | Umsjónaraðili getur fengið aðgang að kerfinu í gegnum Active Directory og getur þá búið til/breytt/eytt síðum sem eru eða eiga að fara í sýningu. Aðilinn getur þá stýrt útlitinu á síðunum í sýningunni, s.s. font eiginleikum ásamt almennari útlitsatriðum
                    | á sýningunni sjálfri, t.d. bakgrunnsmynd, útlit á klukku/logo o.fl. Einnig er hægt að stilla tímalengd síðu á skjá, tímabil sem sýna má síðuna (T.d. bara fram að þarnæstu helgi eða alltaf bara á jólunum) og ýmislegt
                    | fleira.
                  p Ég sá um allt kerfið sjálfur.
                  h4 Tæknilegar upplýsingar
                  p
                    | Kerfið var unnið i Visual Studio 2015 ASP.NET MVC. Bakendinn skrifaður í C#. Bakendi keyrir á IIS-vefþjón og sækir gögnin, þ.e. útlits-stillingar og efnið á síðunum sjálfum í sýningunni, frá MS SQL Server gagnagrunnsþjón sem getur tengst þjóðskrár-grunninum.
                    | Framendinn var búinn til með Razor template engine fyrir HTML með C# kóða og svo basic CSS, Javascript með jQuery.
              .verkefni
                h3.subtitle Aðgangur að Mannvirkjaskrá
                h4 Þjóðskrá Íslands, vefforrit
                p
                  | Forrit sem sækir upplýsingar úr Mannvirkjaskrá og birtir á einfaldri vefsíðu.
                div
                  p.screenshot-origin Skjámynd
                  img.screenshot(src='images/mannvirkjaskra.png', alt='mannvirkjaskrá screenshot')
                .more
                  | Meira 
                  div
                    span.arrow-near >
                    span.arrow-far >
                .more-content
                  p
                    | Mannvirkjaskrá var/er nýr grunnur sem var í þróun þegar ég vann hjá Þjóðskrá. Hugmyndin á bakvið verkefni mitt var að leyfa verðandi notendum að fá tilfinningu fyrir gögnunum sem yrði að finna í þessum nýja grunni með þægilegu viðmóti.
                  p
                    | Notandi getur leitað með landnúmeri, fasteignanúmeri o.fl. og fengið öll gögn sem tengjast því sem leitað var að og upplýsingar um hvernig þau gögn tengjast.
                  p Ég sá um allt kerfið sjálfur nema grunninn.
                  h4 Tæknilegar upplýsingar
                  p
                    | Kerfið var unnið i Visual Studio 2015 ASP.NET MVC með C# í bakenda. Bakendi keyrir á IIS-vefþjón og sækir gögnin, frá Oracle grunni sem var þó enn í þróun. Framendinn búinn til með Razor template engine fyrir HTML með C# kóða og svo basic CSS, Javascript
                    | + jQuery.
              .verkefni
                h3.subtitle Asteroids 3D
                h4 Skólaverkefni, vefforrit, WebGL
                p
                  | Geim-leikur sem ég og skólafélagi unnum sem lokaverkefni í faginu Tölvugrafík.
                div
                  p.screenshot-origin Skjámynd
                  img.screenshot(src='images/asteroids.png', alt='asteroids screenshot')
                  a(href='https://github.com/Asteroids3D/the-game', target='_blank') Github hlekkur
                  a(href='http://arnarson.net/asteroid3d', target='_blank') Hlekkur á forrit
                .more
                  | Meira 
                  div
                    span.arrow-near >
                    span.arrow-far >
                .more-content
                  p
                    | Leikurinn gengur út á að fljúga um í geimskipi og skjóta steina og geimverur. Hugmyndin byggir á gömlum tölvuleik sem heitir Asteroids, en hann var í 2D.
                  h4 Tæknilegar upplýsingar
                  p
                    | Leikurinn er unninn í javascript, en öll grafík er renderuð á canvas elementi með WebGL. Canvasinn fyllir viewportið en svo notum við CSS til þess að sýna miðið, hraðamæli, stigin og skjöldinn. Við notuðum engin forritasöfn við gerð leiksins, líkt og t.d. THREE.js, enda tilgangurinn að læra á og skilja 'hráa' grafíkvinnslu með skjákort.
              .verkefni
                h3.subtitle Timerunner - vinnutímaskráning
                h4 Skólaverkefni, Android mobile app
                p
                  | Lokaverkefni í faginu Hugbúnaðarverkefni 2. Verkefnið var hópverkefni þar sem við vorum 4 í hóp.
                p
                  | Forritið leyfir notanda að stimpla sig inn og út og skoða tímafærslur, ásamt því að búa yfir ýmsum eiginleikum sem auka þægindi við tímaskráningu.
                div
                  p.screenshot-origin Skjámynd
                  img.screenshot(src='images/app_screens.png', alt='timerunner screenshots')
                  a(href='https://github.com/Team25/TimeRunner', target='_blank') Github hlekkur
                .more
                  | Meira 
                  div
                    span.arrow-near >
                    span.arrow-far >
                .more-content
                  p
                    | Notandi þarf bara að skrá sig inn einu sinni að kerfinu, eftir það opnast forritið sjálfkrafa inná skjáinn með clock in möguleikanum. Þegar notandi tengist WiFi neti vinnustaðar síns, og er ekki skráður inn, þá fær hann sjálfkrafa áminningu um að skrá
                    | sig inn í kerfið.
                  h4 Tæknilegar upplýsingar
                  p
                    | Öll client-virkni var skrifuð í Android Studio. Til þess að útfæra single sign-on eiginleikann notuðum við token kerfi sem við bjuggum til. Notendur, færslurnar þeirra og fleiri upplýsingar eru geymdar á server sem við settum upp. Bakendinn á servernum var
                    | lokaverkefni í faginu Hugbúnaðarverkefni 1. Hann er skrifaður í Java Spring og notar postgresql grunn fyrir öll gögn. Til þess að tala við grunninn notum við Hibernate. Hægt er að skoða bakenda-kóðann betur
                    a#basic-link(href='https://github.com/Team25/hbv501g') hér.
                    |  Til þess að nota bakendann með appinu þurftum við að bæta við nokkrum RESTControllers sem skila og taka við gögnunum á JSON formi.
              .verkefni
                h3.subtitle Teikniforrit
                h4 Skólaverkefni, Java forrit
                p
                  | Lokaverkefni í faginu Viðmótsforritun á 1. ári í Háskóla Íslands.
                p
                  | Þetta er í raun mini-paint forrit. Hægt er að hlaða inn myndum, teikna með ýmsum tólum eða formum, stilla gegnsæi, pensilstærðir o.fl. Einnig er hægt að vera með margar myndir opnar í einu og það er undo/redo virkni til staðar.
                div
                  p.screenshot-origin Skjámynd
                  img.screenshot(src='images/painter.png', alt='teikniforrit screenshots')
                  a(href='https://github.com/Oli-Ingi/drawingApp', target='_blank') Github hlekkur
              .verkefni
                h3.subtitle Ultra Forum - spjallborðssíða
                h4 Skólaverkefni, vefforrit
                p
                  | Lokaverkefni í faginu Vefforritun. Verkefnið var hópverkefni þar sem við vorum 2 í hóp.
                p
                  | Þetta er spjallborð þar sem hægt er að stofna spjallþræði, skrifa pósta á spjallþræði sem eru til og það er hægt að svara póstum.
                div
                  p.screenshot-origin Skjámynd
                  img.screenshot(src='images/ultra_forum.png', alt='ultra-forum screenshots')
                  a(href='https://github.com/Oli-Ingi/vefforritun2016', target='_blank') Github hlekkur
                  a(href='https://ultra-forum.herokuapp.com', target='_blank') Hlekkur á forrit
                .more
                  | Meira 
                  div
                    span.arrow-near >
                    span.arrow-far >
                .more-content
                  p
                    | Að auki er hægt að búa til síur til að leita að þráðum.
                  h4 Tæknilegar upplýsingar
                  p
                    | Við notuðum Node.js hér og notuðum Gulp sem task runner. Framendinn er skrifaður í PUG/SCSS/ES6 í Node.js, en við notum gulp-babel til að transpile-a ES6 -> ES5, gulp-sass fyrir SCSS -> CSS og pug template engine fyrir HTML-ið. Bakendinn er settur upp
                    | með Express frameworkinu. Við notum svo pg-promise forritasafnið til að eiga samskipti við gagnagrunninn okkar sem er postgresql.
            .verkefni-links
              h3.subtitle Hægt er að skoða fleiri forrit eftir mig hér:
              ul
                li
                  a(href='https://github.com/Oli-Ingi', target='_blank') https://github.com/Oli-Ingi
                li
                  a(href='https://github.com/orgs/Team25', target='_blank') https://github.com/orgs/Team25
        section
          h2.section-opener TUNGUMÁLAKUNNÁTTA
          .content
            table
              thead
                tr
                  th
                  th(scope='col') Talað mál
                  th(scope='col') Skrifað mál
              tbody
                tr
                  th(scope='row') Íslenska
                  td Mjög gott
                  td Mjög gott
                tr
                  th(scope='row') Enska
                  td Mjög gott
                  td Mjög gott
                tr
                  th(scope='row') Þýska
                  td Gott
                  td Gott
        section.personulegir-hagir
          h2.section-opener PERSÓNULEGIR HAGIR
          .content
            p Ég er í sambúð með unnustu minni og saman eigum við tveggja ára dóttur.
            p Synir hennar tveir (20 og 17) af fyrra sambandi búa einnig hjá okkur.
        section.ahugamal
          h2.section-opener ÁHUGAMÁL
          .content
            ul
              li
                h3.subtitle Forritun
                p
                  | Mitt helsta áhugamál er forritun og ég tel mig gríðarlega heppinn að geta sinnt mínu helsta áhugamáli, og bætt mig í því, í starfi.
                p
                  | Ég hef sérstaklega gaman af vefforritun, framenda sem og bakenda. ég hef einnig mjög gaman af allri forritun sem tengist grafík, 
                  | s.s. með WebGL og OpenGL, og þá sérstaklega við leikjasmíð.
                p
                  | Að auki finnst mér mobile app development mjög spennandi og langar til að skoða Android development með React native við tækifæri.
              li
                h3.subtitle Líkamsrækt
                p
                  | Eftir námið hef ég stundað líkamsrækt af miklum krafti og reyni að fara eins oft og ég mögulega get í ræktina með félaga mínum.
              li
                h3.subtitle Raftónlistarsmíð
                p
                  | Ég hef mjög gaman af því að búa til raftónlist. Ég hef notað til þess forrit sem heitir Reason aðallega en einnig aðeins Ableton Live og Fruity Loops.
        section.medmaelendur
          h2.section-opener MEÐMÆLENDUR
          .content
            ul
              li
                h3.subtitle Sigurjón Friðjónsson
                ul
                  li Yfirmaður upplýsingatæknideildar hjá Þjóðskrá Íslands
                  li Minn næsti yfirmaður hjá Þjóðskrá
                  li Sími: 862-4600
                  li
                    | Netfang: 
                    a(href='mailto:sf@skra.is') sf@skra.is
              li
                h3.subtitle Bárður Steinn Jóhannesson
                ul
                  li Fyrrverandi flokkstjóri hjá Flugfélagi Íslands
                  li Minn næsti yfirmaður hjá Flugfélagi Íslands
                  li Sími: 863-7278
            p *vinsamlegast látið mig vita áður en haft er samband við ofangreinda aðila.
      footer
        .contact-info
          h2 Hafðu samband
          ul
            li
              p.list-title HEIMILISFANG
              .list-content
                p.value Efstihjalli 13, 200 Kópavogur
            li
              p.list-title NETFANG
              .list-content
                p
                  a(href='mailto:oli_ingi@msn.com') oli_ingi@msn.com
            li
              p.list-title SÍMI
              .list-content
                p 698-2769
    script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
    script(type='text/javascript', src='dist/ferilskra.bundle.js')
