extends layout

block content
  div.wrapper
    h1= title
    img(src="images/Work_in_progress.png")
    br
    br
    br
    div.container
      a(href="/ferilskra") Hér er hægt að skoða "gömlu ferilskránna"